black
beautifulsoup4
bokeh
colorlover
cmocean
cufflinks
dask
featuretools
flake8
graphviz
h5py
ipdb
ipykernel
ipysheet
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-repo2docker
jupyterlab
jupyterlab-server
matplotlib
nbconvert
nbformat
nose
numpy
packaging
pandas
pandocfilters
pillow
psycopg2
psycopg2-binary
pyarrow
pymc3
pyparsing
pystan
pytest
python-dateutil
requests
scikit-learn
scipy
seaborn
selenium
SQLAlchemy
statsmodels
tqdm
widgetsnbextension